.holder{
	display:flex;
	justify-content:space-between
}
.data{
	width:100px;
	height:100px;
	padding:20px;
}
.data{
	background-color:green
	}
.i{
	background-color:red
}
.item3{
	background-color:blue
}